@font-face {
  font-family: 'socicon';
  src: url("/local/fonts/socicon.eot");
  src: url("/local/fonts/socicon.eot?#iefix") format("embedded-opentype"), url("/local/fonts/socicon.woff") format("woff"), url("/local/fonts/socicon.woff2") format("woff2"), url("/local/fonts/socicon.ttf") format("truetype"), url("/local/fonts/socicon.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal;
  text-transform: initial; }
@font-face {
  font-family: 'Calendars';
  src: url("/local/fonts/Calendas-Plus.eot");
  src: url("/local/fonts/Calendas-Plus.eot?#iefix") format("embedded-opentype"), url("/local/fonts/Calendas-Plus.woff") format("woff"), url("/local/fonts/Calendas-Plus.ttf") format("truetype"), url("/local/fonts/Calendas-Plus.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GoodCyr';
  src: url("/local/fonts/GoodCyr-WideLight.eot");
  src: url("/local/fonts/GoodCyr-WideLight.eot?#iefix") format("embedded-opentype"), url("/local/fonts/GoodCyr-WideLight.woff") format("woff"), url("/local/fonts/GoodCyr-WideLight.ttf") format("truetype"), url("/local/fonts/GoodCyr-WideLight.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 37, twbs-theme.scss */
html {
  position: relative;
  min-height: 100%;
  background: white; }

/* line 43, twbs-theme.scss */
body {
  color: #515151;
  font-family: GoodCyr, Helvetica Neue, Helvetica, Arial;
  -webkit-font-smoothing: antialiased; }

/* line 49, twbs-theme.scss */
a, a:visited {
  color: inherit; }

/* line 52, twbs-theme.scss */
a:hover {
  color: #ba9745;
  text-decoration: none; }

/* line 56, twbs-theme.scss */
a:visited {
  text-decoration: none; }

/* line 60, twbs-theme.scss */
h1, .h1 {
  font-size: 36px;
  font-family: Calendars;
  text-transform: uppercase;
  color: #51371c;
  text-align: center; }

/* line 68, twbs-theme.scss */
h2, .h2 {
  font-size: 25px;
  font-family: Calendars;
  text-transform: uppercase; }

/* line 74, twbs-theme.scss */
h3, .h3 {
  font-size: 18px;
  font-family: Calendars;
  text-transform: uppercase; }

/* line 81, twbs-theme.scss */
.text-gold {
  color: #ba9745; }

/* line 84, twbs-theme.scss */
.text-bronze {
  color: #51371c; }

@media (min-width: 768px) {
  /* line 89, twbs-theme.scss */
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px; } }

/*# sourceMappingURL=twbs-theme.css.map */
